<head>
  Home
</head>

<style>
    .container {
        height: 200px;
        position: relative;
        border: 3px black;
    }

    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>




<div class="container">
  <div class="center">
    <p>Select which information you would like to view.</p>

    <button type="button">Help</button>

    <button type="button">Drivers</button>

    <button type="button">Teams</button>

    <button type="button">Tracks</button>

  </div>
</div>