
<div class="title">
    <h2>Select which information you would like to view.</h2>
</div>

<div class="links">
    <form action="help">
      <input type="submit" value = "Help"/>
    </form>

    <form action="drivers">
      <input type="submit" value = "Drivers"/>
    </form>

    <form action="teams">
      <input type="submit" value = "Teams"/>
    </form>

    <form action="tracks">
      <input type="submit" value="Tracks" />
    </form>

    <form action="races">
      <input type="submit" value="Races" />
    </form>
</div>
