<html>
  <body>
  <table class="centerTable">
    <thead>
    <tr>
      <th>Races</th>
      <th>Date</th>
      <th>Winning Team</th>
      <th>Winning Driver</th>
    </tr>
    </thead>

    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <p class="centerText">The original plan was to have this filled with the aforementioned data above. <br>
    Sadly I ran out of time, but have left the skeleton of the table in so you have an idea of what was to come. </p>
  </body>
</html>

