<head>
  Home
</head>

<style>
    .container {
        height: 200px;
        position: relative;
        border: 3px black;
    }

    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>




<div class="container">
  <div class="center">
    <p>Select which information you would like to view.</p>


    <button type="button">Help</button>

    <form action="drivers">
      <input type="submit" value = "Drivers"/>
    </form>

    <form action="teams">
      <input type="submit" value = "Teams"/>
    </form>

    <form action="tracks">
      <input type="submit" value="Tracks" />
    </form>


  </div>
</div>